.container {
	background-color: rgb(240, 240, 240);

	height: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: span 3;
	user-select: none;


	img {
		width: 20px;
		height: 20px;
		pointer-events: none;
	}
}
