.app {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 1350px;
	height: 700px;

	background-color: rgb(228, 228, 228);
	// background-color: rgba(239, 239, 239, 1);

	border-radius: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px 1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	display: grid;
	grid-template-columns: 340px 1fr 340px;
	grid-template-rows: 20px 680px;
	overflow: hidden;
	touch-action: "none";
}

::-webkit-scrollbar {
	display: none;
}
